<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="#{formUpdate.title}"></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                    Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled">Disabled</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav><br>

<br>
<div class="container">
    <a href="/" class="card-link">back</a><br><br>

    <h3 th:text="#{formUpdate.title}"></h3>
    <form th:action="@{/handle-update}" th:object="${Article}" method="post" enctype="multipart/form-data">

        <div class="form-group">
            <input type="text" th:value="${article.id}" name="id" class="form-control">
        </div>
        <div>
            <label for="exampleInputname1" th:text="#{table.pic}"></label>
            <img th:src="${article.images}" width="100px" height="100px" />
        </div>
        <div class="form-group">
            <input type="file" onchange="loadFile(event)" name="file" class="form-control" id="exampleInputStudent1" aria-describedby="nameHelp">
        </div>

        <div class="form-group">
            <label for="exampleInputname1" th:text="#{table.name}"></label>
            <input type="text" th:value="${article.title}" name="title" class="form-control" id="exampleInputname1" placeholder="The Greatest Article in the World!" aria-describedby="nameHelp">
        </div>

        <div class="form-group">
            <label for="description" th:text="#{table.dec}"></label>
            <textarea th:text="${article.description}" class="form-control" name="description" id="description" rows="3"></textarea>
        </div>

        <div><button type="submit" class="btn btn-primary" th:text="#{formUpdate.btnText}"></button></div>
    </form>
</div>

<script>
    var loadFile = function(event) {
        var images = document.getElementById('output');
        images.src = URL.createObjectURL(event.target.files[0]);
    };
</script>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>

</body>
</html>