<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HomePage</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
</head>
<body>

<!--NavBar-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                    Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled">Disabled</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
<br>

<!--Table -->

<div class="container">

    <a th:href="@{/form-add}" type="button" class="btn btn-primary">Add New Article</a>

    <a style="margin-left: 30px"  href="http://localhost:8282/?lang=en" th:text="#{lang.en}"></a>
    <a style="margin-left: 30px" href="http://localhost:8282/?lang=km" th:text="#{lang.kh}"></a>
    <a style="margin-left: 30px" href="http://localhost:8282/?lang=ko" th:text="#{lang.korean}"></a>

    <br>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col" th:text="#{table.name}"></th>
            <th scope="col" th:text="#{table.dec}" style="width: 600px"></th>
            <th scope="col" th:text="#{table.pic}"></th>
            <th scope="col" th:text="#{table.action}"></th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="article: ${articles}">
            <th th:text="${article.id}" scope="row">1</th>
            <td th:text="${article.title}">Mark</td>
            <td th:text="${article.description}">Otto</td>
            <td>
                <div>
                    <img th:src="${article.images}" width="100px" height="100px" />
                </div>
            </td>
            <td  >
                <a th:href="@{/view-article/{id}(id=${article.id})}" type="button" class="btn btn-outline-primary">View</a>
                <a th:href="@{/update-article/{id}(id=${article.id})}" type="button" class="btn btn-outline-success">Update</a>
                <a th:href="@{/delete-article/{id}(id=${article.id})}" type="button" class="btn btn-outline-danger">Delete</a>
            </td>
        </tr>
       </tbody>
    </table>
</div>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
</body>
</html>